In [1]:
person = {
    "first": "Kashfi",
    "last": "Fahim",
    "email":"kashfi.fahim@gmail.com"
}

In [2]:
people = {
    "first": ["Kashfi"],
    "last": ["Fahim"],
    "email": ["kashfi.fahim@gmail.com"]
}

In [3]:
people = {
    "first": ["Kashfi", "Taseen", "Albina", "Tenzenza"],
    "last": ["Fahim", "Fahim", "Rahman", "Rahman"],
    "email" : ["abc@gmail.com", "def@gmail.com", "ghi@gmail.com", "jkl@gmail.com"],
}

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(people)

In [6]:
df

      first    last          email
0    Kashfi   Fahim  abc@gmail.com
1    Taseen   Fahim  def@gmail.com
2    Albina  Rahman  ghi@gmail.com
3  Tenzenza  Rahman  jkl@gmail.com

In [7]:
df["first"]

0      Kashfi
1      Taseen
2      Albina
3    Tenzenza
Name: first, dtype: object

In [8]:
df['email']

0    abc@gmail.com
1    def@gmail.com
2    ghi@gmail.com
3    jkl@gmail.com
Name: email, dtype: object

In [9]:
type(df['email'])

pandas.core.series.Series

## Series - a list of data with a lot more functionality; a row

## DataFrame -- rows and columns, container for multiple rows (Series)

In [10]:
# Access multiple columns
df[['first', 'last']]

      first    last
0    Kashfi   Fahim
1    Taseen   Fahim
2    Albina  Rahman
3  Tenzenza  Rahman

In [11]:
df[["email", "last", "first"]]

           email    last     first
0  abc@gmail.com   Fahim    Kashfi
1  def@gmail.com   Fahim    Taseen
2  ghi@gmail.com  Rahman    Albina
3  jkl@gmail.com  Rahman  Tenzenza

In [12]:
type(df[["email", "last", "first"]])

pandas.core.frame.DataFrame

In [13]:
df[0:2]

    first   last          email
0  Kashfi  Fahim  abc@gmail.com
1  Taseen  Fahim  def@gmail.com

In [14]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

### Rows: iloc, loc

In [15]:
df.iloc[1]

first           Taseen
last             Fahim
email    def@gmail.com
Name: 1, dtype: object

In [16]:
df.iloc[0]

first           Kashfi
last             Fahim
email    abc@gmail.com
Name: 0, dtype: object

In [17]:
df.iloc[2]

first           Albina
last            Rahman
email    ghi@gmail.com
Name: 2, dtype: object

In [18]:
df.iloc[3]

first         Tenzenza
last            Rahman
email    jkl@gmail.com
Name: 3, dtype: object

In [19]:
type(df.iloc[3])

pandas.core.series.Series

In [20]:
df.loc[0]

first           Kashfi
last             Fahim
email    abc@gmail.com
Name: 0, dtype: object

In [21]:
type(df.loc[0])

pandas.core.series.Series

In [22]:
first, last, email = df.loc[0]

In [23]:
first, last, email

('Kashfi', 'Fahim', 'abc@gmail.com')

In [24]:
type(first)

str

In [25]:
df.iloc[[0, 1]]

    first   last          email
0  Kashfi  Fahim  abc@gmail.com
1  Taseen  Fahim  def@gmail.com

In [26]:
df.iloc[[0, 1], [2]]

           email
0  abc@gmail.com
1  def@gmail.com

In [27]:
df.loc[0]

first           Kashfi
last             Fahim
email    abc@gmail.com
Name: 0, dtype: object

In [28]:
df.loc[2]

first           Albina
last            Rahman
email    ghi@gmail.com
Name: 2, dtype: object

In [29]:
df.loc[[1], ['email']]

           email
1  def@gmail.com

In [30]:
df

      first    last          email
0    Kashfi   Fahim  abc@gmail.com
1    Taseen   Fahim  def@gmail.com
2    Albina  Rahman  ghi@gmail.com
3  Tenzenza  Rahman  jkl@gmail.com

In [31]:
df['email']

0    abc@gmail.com
1    def@gmail.com
2    ghi@gmail.com
3    jkl@gmail.com
Name: email, dtype: object

In [32]:
df.set_index('email', inplace=True)

In [33]:
df.set_index('last')

           first
last
Fahim     Kashfi
Fahim     Taseen
Rahman    Albina
Rahman  Tenzenza

In [34]:
df

                  first    last
email
abc@gmail.com    Kashfi   Fahim
def@gmail.com    Taseen   Fahim
ghi@gmail.com    Albina  Rahman
jkl@gmail.com  Tenzenza  Rahman

In [35]:
df.loc['abc@gmail.com']

first    Kashfi
last      Fahim
Name: abc@gmail.com, dtype: object

In [36]:
df.loc['def@gmail.com']

first    Taseen
last      Fahim
Name: def@gmail.com, dtype: object

In [37]:
df.iloc[0]

first    Kashfi
last      Fahim
Name: abc@gmail.com, dtype: object

In [38]:
df.iloc[2]

first    Albina
last     Rahman
Name: ghi@gmail.com, dtype: object

In [39]:
df.reset_index(inplace=True)

In [40]:
df

           email     first    last
0  abc@gmail.com    Kashfi   Fahim
1  def@gmail.com    Taseen   Fahim
2  ghi@gmail.com    Albina  Rahman
3  jkl@gmail.com  Tenzenza  Rahman

In [41]:
# Comparison
df['last'] == 'Fahim' # Filter mask

0     True
1     True
2    False
3    False
Name: last, dtype: bool

In [42]:
filt = (df['last'] == 'Rahman')

In [43]:
df[filt]

           email     first    last
2  ghi@gmail.com    Albina  Rahman
3  jkl@gmail.com  Tenzenza  Rahman

In [44]:
df.loc[filt] # passing in a series of booleans to filter data out

           email     first    last
2  ghi@gmail.com    Albina  Rahman
3  jkl@gmail.com  Tenzenza  Rahman

In [45]:
df.loc[filt, 'email']

2    ghi@gmail.com
3    jkl@gmail.com
Name: email, dtype: object

In [46]:
filt2 = (df['last'] == 'Fahim') & (df['first'] == 'Kashfi')

In [47]:
df.loc[filt2, 'email']

0    abc@gmail.com
Name: email, dtype: object

In [48]:
df

           email     first    last
0  abc@gmail.com    Kashfi   Fahim
1  def@gmail.com    Taseen   Fahim
2  ghi@gmail.com    Albina  Rahman
3  jkl@gmail.com  Tenzenza  Rahman

In [49]:
df.columns

Index(['email', 'first', 'last'], dtype='object')

# Rename columns

In [50]:
df.columns = ['first_name', 'last_name', 'email']

In [51]:
df

      first_name last_name   email
0  abc@gmail.com    Kashfi   Fahim
1  def@gmail.com    Taseen   Fahim
2  ghi@gmail.com    Albina  Rahman
3  jkl@gmail.com  Tenzenza  Rahman

# List Comprehension

In [52]:
df.columns = [x.upper() for x in df.columns]

In [53]:
df

      FIRST_NAME LAST_NAME   EMAIL
0  abc@gmail.com    Kashfi   Fahim
1  def@gmail.com    Taseen   Fahim
2  ghi@gmail.com    Albina  Rahman
3  jkl@gmail.com  Tenzenza  Rahman

In [56]:
rename_dict = {
    'FIRST_NAME': 'first',
    'LAST_NAME': 'last'
}

In [57]:
df.rename(columns = rename_dict, inplace=True)

In [58]:
df

           first      last   EMAIL
0  abc@gmail.com    Kashfi   Fahim
1  def@gmail.com    Taseen   Fahim
2  ghi@gmail.com    Albina  Rahman
3  jkl@gmail.com  Tenzenza  Rahman

# Updating Rows

In [59]:
# grab row with index
df.loc[2]

first    ghi@gmail.com
last            Albina
EMAIL           Rahman
Name: 2, dtype: object

In [60]:
# pass in new values
df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com']

In [61]:
df

           first      last                EMAIL
0  abc@gmail.com    Kashfi                Fahim
1  def@gmail.com    Taseen                Fahim
2           John     Smith  JohnSmith@email.com
3  jkl@gmail.com  Tenzenza               Rahman

In [64]:
df.loc[2, ['last', 'EMAIL']] = ['Rahman', 'ark@gmail.com']

In [65]:
df

           first      last          EMAIL
0  abc@gmail.com    Kashfi          Fahim
1  def@gmail.com    Taseen          Fahim
2           John    Rahman  ark@gmail.com
3  jkl@gmail.com  Tenzenza         Rahman

In [66]:
df.loc[2, 'first'] = 'Albina'

In [67]:
df

           first      last          EMAIL
0  abc@gmail.com    Kashfi          Fahim
1  def@gmail.com    Taseen          Fahim
2         Albina    Rahman  ark@gmail.com
3  jkl@gmail.com  Tenzenza         Rahman

# Trying to change the value without indexer

In [68]:
df

           first      last          EMAIL
0  abc@gmail.com    Kashfi          Fahim
1  def@gmail.com    Taseen          Fahim
2         Albina    Rahman  ark@gmail.com
3  jkl@gmail.com  Tenzenza         Rahman

In [73]:
filter3 = (df['EMAIL'] == 'ark@gmail.com')
df[filter3]

    first    last          EMAIL
2  Albina  Rahman  ark@gmail.com

In [74]:
df[filter3]['last']

2    Rahman
Name: last, dtype: object

In [75]:
df[filter3]['last'] = 'Smith'

/var/folders/9g/tp353cz91nz8wyjz3wdss3gw0000gn/T/ipykernel_7041/74696940.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filter3]['last'] = 'Smith'

In [76]:
df

           first      last          EMAIL
0  abc@gmail.com    Kashfi          Fahim
1  def@gmail.com    Taseen          Fahim
2         Albina    Rahman  ark@gmail.com
3  jkl@gmail.com  Tenzenza         Rahman

# When setting values, use .loc

In [77]:
df.loc[filter3, 'last'] = 'Smith'

In [78]:
df

           first      last          EMAIL
0  abc@gmail.com    Kashfi          Fahim
1  def@gmail.com    Taseen          Fahim
2         Albina     Smith  ark@gmail.com
3  jkl@gmail.com  Tenzenza         Rahman

# How to update multiple rows of data

In [79]:
df['EMAIL'].str.lower()

0            fahim
1            fahim
2    ark@gmail.com
3           rahman
Name: EMAIL, dtype: object

In [80]:
df

           first      last          EMAIL
0  abc@gmail.com    Kashfi          Fahim
1  def@gmail.com    Taseen          Fahim
2         Albina     Smith  ark@gmail.com
3  jkl@gmail.com  Tenzenza         Rahman

In [83]:
## Make the change
df['EMAIL'] = df['EMAIL'].str.lower()

In [84]:
df

           first      last          EMAIL          email
0  abc@gmail.com    Kashfi          fahim          fahim
1  def@gmail.com    Taseen          fahim          fahim
2         Albina     Smith  ark@gmail.com  ark@gmail.com
3  jkl@gmail.com  Tenzenza         rahman         rahman

In [85]:
del df['email']

In [86]:
df

           first      last          EMAIL
0  abc@gmail.com    Kashfi          fahim
1  def@gmail.com    Taseen          fahim
2         Albina     Smith  ark@gmail.com
3  jkl@gmail.com  Tenzenza         rahman

# APPLY, MAP, APPLYMAP, REPLACE

In [88]:
# Apply used to call a function on values
df['EMAIL'].apply(len)

0     5
1     5
2    13
3     6
Name: EMAIL, dtype: int64

In [89]:
df['first'] = df['']

KeyError: 'email'