In [3]:
person = {
    "first": "Kashfi",
    "last": "Fahim",
    "email":"kashfi.fahim@gmail.com"
}

In [5]:
people = {
    "first": ["Kashfi"],
    "last": ["Fahim"],
    "email": ["kashfi.fahim@gmail.com"]
}

In [10]:
people = {
    "first": ["Kashfi", "Taseen", "Albina", "Tenzenza"],
    "last": ["Fahim", "Fahim", "Rahman", "Rahman"],
    "email" : ["abc@gmail.com", "def@gmail.com", "ghi@gmail.com", "jkl@gmail.com"],
}

In [15]:
import pandas as pd

In [21]:
df = pd.DataFrame(people)

In [22]:
df

      first    last          email
0    Kashfi   Fahim  abc@gmail.com
1    Taseen   Fahim  def@gmail.com
2    Albina  Rahman  ghi@gmail.com
3  Tenzenza  Rahman  jkl@gmail.com

In [26]:
df["first"]

0      Kashfi
1      Taseen
2      Albina
3    Tenzenza
Name: first, dtype: object

In [28]:
df['email']

0    abc@gmail.com
1    def@gmail.com
2    ghi@gmail.com
3    jkl@gmail.com
Name: email, dtype: object

In [29]:
type(df['email'])

pandas.core.series.Series

## Series - a list of data with a lot more functionality; a row

## DataFrame -- rows and columns, container for multiple rows (Series)

In [34]:
# Access multiple columns
df[['first', 'last']]

      first    last
0    Kashfi   Fahim
1    Taseen   Fahim
2    Albina  Rahman
3  Tenzenza  Rahman

In [38]:
df[["email", "last", "first"]]

           email    last     first
0  abc@gmail.com   Fahim    Kashfi
1  def@gmail.com   Fahim    Taseen
2  ghi@gmail.com  Rahman    Albina
3  jkl@gmail.com  Rahman  Tenzenza

In [39]:
type(df[["email", "last", "first"]])

pandas.core.frame.DataFrame

In [40]:
df[0:2]

    first   last          email
0  Kashfi  Fahim  abc@gmail.com
1  Taseen  Fahim  def@gmail.com

In [41]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

### Rows: iloc, loc

In [42]:
df.iloc[1]

first           Taseen
last             Fahim
email    def@gmail.com
Name: 1, dtype: object

In [43]:
df.iloc[0]

first           Kashfi
last             Fahim
email    abc@gmail.com
Name: 0, dtype: object

In [44]:
df.iloc[2]

first           Albina
last            Rahman
email    ghi@gmail.com
Name: 2, dtype: object

In [45]:
df.iloc[3]

first         Tenzenza
last            Rahman
email    jkl@gmail.com
Name: 3, dtype: object

In [46]:
type(df.iloc[3])

pandas.core.series.Series

In [47]:
df.loc[0]

first           Kashfi
last             Fahim
email    abc@gmail.com
Name: 0, dtype: object

In [48]:
type(df.loc[0])

pandas.core.series.Series

In [49]:
first, last, email = df.loc[0]

In [50]:
first, last, email

('Kashfi', 'Fahim', 'abc@gmail.com')

In [51]:
type(first)

str

In [59]:
df.iloc[[0, 1]]

    first   last          email
0  Kashfi  Fahim  abc@gmail.com
1  Taseen  Fahim  def@gmail.com

In [62]:
df.iloc[[0, 1], [2]]

           email
0  abc@gmail.com
1  def@gmail.com

In [66]:
df.loc[0]

first           Kashfi
last             Fahim
email    abc@gmail.com
Name: 0, dtype: object

In [69]:
df.loc[2]

first           Albina
last            Rahman
email    ghi@gmail.com
Name: 2, dtype: object

In [74]:
df.loc[[1], ['email']]

           email
1  def@gmail.com

In [75]:
df

      first    last          email
0    Kashfi   Fahim  abc@gmail.com
1    Taseen   Fahim  def@gmail.com
2    Albina  Rahman  ghi@gmail.com
3  Tenzenza  Rahman  jkl@gmail.com

In [84]:
df['email']

0    abc@gmail.com
1    def@gmail.com
2    ghi@gmail.com
3    jkl@gmail.com
Name: email, dtype: object

In [85]:
df.set_index('email', inplace=True)

In [82]:
df.set_index('last')

           first          email
last
Fahim     Kashfi  abc@gmail.com
Fahim     Taseen  def@gmail.com
Rahman    Albina  ghi@gmail.com
Rahman  Tenzenza  jkl@gmail.com

In [86]:
df

                  first    last
email
abc@gmail.com    Kashfi   Fahim
def@gmail.com    Taseen   Fahim
ghi@gmail.com    Albina  Rahman
jkl@gmail.com  Tenzenza  Rahman

In [88]:
df.loc['abc@gmail.com']

first    Kashfi
last      Fahim
Name: abc@gmail.com, dtype: object

In [90]:
df.loc['def@gmail.com']

first    Taseen
last      Fahim
Name: def@gmail.com, dtype: object

In [91]:
df.iloc[0]

first    Kashfi
last      Fahim
Name: abc@gmail.com, dtype: object

In [92]:
df.iloc[2]

first    Albina
last     Rahman
Name: ghi@gmail.com, dtype: object

In [94]:
df.reset_index(inplace=True)

In [95]:
df

           email     first    last
0  abc@gmail.com    Kashfi   Fahim
1  def@gmail.com    Taseen   Fahim
2  ghi@gmail.com    Albina  Rahman
3  jkl@gmail.com  Tenzenza  Rahman